<tablenav></tablenav>
<div>
	<h1>Create Table</h1>
  <br />
	<form>	
		<input type="file" name="filename" id="filename">
	</form>
  <div>
    <br />
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th ng-repeat="header in headers">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in body">
          <td ng-repeat="record in row">{{ record }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form ng-show="visible">
    <input id="tablename" class="form-control" type="text" ng-model="name" placeholder='Table Name'></input>
    <br />
    <button class="table-button" ng-click="importTable()">Import Table</button>
  </form>
</div>
